{
    admin off
}

api.vs.io.kr {
    reverse_proxy app:8080 {
        health_uri /actuator/health/readiness
        health_port 8081
        health_interval 5s
        health_timeout 3s
        fail_duration 10s
        unhealthy_status 503
        lb_try_duration 5s
        lb_try_interval 250ms
    }
}
